[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Résultat de recherche d'images pour "Exceed Walltimer - Remote control"
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjenvzXxfvdAhVPKewKHXp6DKoQjRx6BAgBEAU&url=http%3A%2F%2Fwww.equipfitnz.com%2Fcontroller-for-digital-walltimer-6-digits%2F&psig=AOvVaw1tZqWMioNPvwmrcidYEgxV&ust=1539249577726796
Icon=text-html
